  <nav>
    <ul class="navbar-fixed-top">

      <div class="col">
        <li class="navborder"><a href="/">home</a></li>
      </div>
      <div class="col">
        <li class="navborder"><a href="/about">about</a></li>
      </div>
      <div class="col"> 
        <li class="navborder"><a href="/donate">donate</a></li>
      </div>
      <div class="col">
        <li class="navborder"><a href="/upload">post</a></li>
      </div>

      </ul>

  </nav>    