<!DOCTYPE html>
<html>
    <head>
        <title> about </title>
        <link href="/styles.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <%- include('partials/navbar'); %>
        </header>
<br>
<br>
<br>
<br>

<h1>about</h1>

<h1>buns on buns on buns</h1>



<%- include('partials/footer'); %>
</body>
</html>