<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <title>image uploaded </title>
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <nav>
        <ul class="navbar-fixed-top">
    

   
            <li class="navborder" ><a href="/">home</a></li>
            <li class="navborder"><a href="about">about</a></li>
            <li class="navborder"><a href="donate">donate</a></li>
            <li class="navborder"><a href="upload">post</a></li>
        
            
          </ul>

      </nav>    

<br>
<br>
<br>
<br>

<p>
    your image has been uploaded! Returnt to home:
    <a href="http://localhost:3001/">HOME</a>
</p>

</body>
</html>