<!DOCTYPE html>
<html>
    <head>
        <title> PLACEHOLDER </title>
        <link href="/styles.css" rel="stylesheet">

    </head>

    <body>

        <header>
            <%- include('partials/navbar'); %>
        </header>

      </nav>    

<br>
<br>
<br>
<br>

<h1>this is PLACEHOLDER</h1>
<img src="pics/placeholder.jpg"  width="600">

<%- include('partials/footer'); %>
</body>
</html>